<%- include("partials/header"); %>
    <h1>Home</h1>

    <p>
        <%=startingContent %>
    </p>

    <%posts.forEach(function(element){%>
        <h2>
            <%=element.title%>
        </h2>
        <p>
            <%=element.body.substring(0,100)%>...<a href="/posts/<%=element.title%>">Read More</a>
        </p>

        <%});%>

            <%- include("partials/footer"); %>